body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #8ed1e0;
    font-size: 600px;
    font-family: Orbitron;
    letter-spacing: 7px;
}


body {
    background-image: url(Beautiful-Sky--Free-Stock-Photo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  